{% extends 'main.html' %}
{% block body %}
<h3>Add a Recipe:</h3>
<p>{% for user in name %}
    {{ user.user_name }} <br>
<!-- </p>
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.user_name.label }} {{ form.user_name }}
        <br>
        {{ form.recipe_name.label }} {{ form.recipe_name }}
        <br>
        {{ form.submit_recipe }}
    </form>
</div> -->
{% endblock body %}






<!-- {% extends 'layout.html' %}
{% block body %}
    <h2>New Recipes</h2>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.recipe_name.label }} {{ form.recipe_name }} {{ form.submit_recipe }}
                <br>
            </form>
            <br>
            <br>
            <button><a href="{{ url_for('recipes') }}">Click here if you already have a username</a></button> -->
        <!-- </div>
{% endblock body %} -->