{% extends 'layout.html' %}
{% block body %}
    <h2>New Recipes</h2>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.recipe_name.label }} {{ form.recipe_name }} {{ form.submit_recipe }}
                <br>
            </form>
            <br>
            <br>
            <!-- <button><a href="{{ url_for('recipes') }}">Click here if you already have a username</a></button> -->
        </div>
{% endblock body %}