{% extends 'layout.html' %}
{% block body %}
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label }} 
                {{ form.name }} 
                <p></p>
                <br>
                {{ form.recipe_user.label }} 
                {{ form.recipe_user }}
                <p></p>
                <br>
                {{ form.submit }}
                <br>
            </form>
            <br>
            
        </div>
{% endblock body %}